*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}


body{
    font-family: 'aria', sans-serif;
    background-color: white;
    color: blue;
    text-align: center;
}

.quiz_area{
    width: 40rem;
    height: 30rem;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

.score{
    width: 75%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.question_container{
    width: 75%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
}

.question_container h2{
    font-size: 1.1rem;
    text-align: center;
    padding: 3px;
}

.game_container{
    width: 85%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game_container span{
    width: 50%;
    height: 3rem;
    border: 3px solid black;
    border-radius: 30px;
    overflow: hidden;
}